.nav {
  display: grid;
  grid-template-columns: max-content;
  grid-template-rows: $full-size;
  justify-content: end;

  &__list {
    @include reset-options;
    display: grid;
    grid-template-columns: repeat(8, max-content);
    align-self: center;
    gap: 20px;
    list-style: none;
  }

  &__link {
    font-weight: $medium-font;
    position: relative;
    padding: 23px 0;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .is-active,
  &__link:hover {
    color: $color-blue;
  }
  
  .is-active::after {
    content: "";
    position: absolute;
    bottom: 0;
    display: grid;
    border-bottom: 4px solid;
    border-radius: 8px;
    width: $full-size;
  }
}
