.card {
  margin-bottom: 50px;
  width: 200px;
  padding: 15px 14px;
  font-size: 11px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);

  &__wrap-image {
    margin: 0 auto 30px;
    padding: 12px 0;
    width: 166px;
    height: 164px;
    border: 3px solid transparent;
    border-radius: 3px;
    transition: 1s;

    &:hover {
      border: 3px solid #f3f3f3;
      transform: scale(1.2);
    }
  }

  &__image {
    width: 160px;
    height: 134px;
  }

  &__title {
    @include reset-options;
    padding-bottom: 6px;
    font-size: 12px;
    font-weight: $medium-font;
    line-height: 15.47px;
  }

  &__article {
    @include reset-options;
    padding-bottom: 15px;
    line-height: 12.89px;
  }

  &__rating {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 20px;
  }

  &__review {
    justify-self: end;
  }

  &__stars {
    display: grid;
    grid-template-columns: repeat(5, 15px);
    grid-template-rows: 15px;
    grid-gap: 4px;
  }

  &__star {
    background: url(/images/star.svg) no-repeat center;

    &--active {
      background: url(/images/star-active.svg) no-repeat center;
    }
  }

  &__price {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;
    padding-bottom: 20px;

    &-value {
      justify-self: end;
      font-size: 16px;
      font-weight: $bold-font;
    }
  }

  &__link {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 38px;
    grid-template-columns: 1fr;
    font-size: 14px;
    font-weight: $bold-font;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    background-color: $color-blue;
    border: 1px solid $color-blue;
    border-radius: 5px;

    &:hover {
      color: $color-blue;
      background-color: #fff;
    }
  }
}
